snippet pubf
${1:public} function ${2:someFunction}($3)
{
    $4
}
endsnippet

snippet if
if ($1) {
    $2
}
endsnippet

snippet ife
if ($1) {
    $2
} else {
    $3
}
endsnippet

snippet ife
if ($1) {
    $2
} else if ($3) {
    $4
}
endsnippet
