snippet pubf
${1:public} function ${2:someFunction}($3)
{
    $4
}
endsnippet

snippet cls
class ${1:ClassName}${2: extends ${3:SomeClass}}${4: implements ${5:SomeInterface}}
{
    $6
}
endsnippet

snippet if
if ($1) {
    $2
}
endsnippet

snippet ife
if ($1) {
    $2
} else {
    $3
}
endsnippet

snippet ife
if ($1) {
    $2
} else if ($3) {
    $4
}
endsnippet

snippet vd
var_dump($1);die();
endsnippet
