"*":
  "atom-autocomplete-php":
    binComposer: "/opt/local/bin/composer"
  "atom-beautify":
    js:
      preserve_newlines: false
    php: {}
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      paintCursor: true
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
      useAnimations: false
  core:
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".idea"
      ".vagrant"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "source code pro"
    fontSize: 16
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "f22a1057-ca08-4ed9-801d-fdbb92c8d2f4"
  "linter-ui-default": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
