snippet rfci "React Functional Component w/ Imports"
import React, { FC } from "react";

export const ${1:Component}: FC${2:<{$3}>} = (${3:{}}) => {
    return <>${4:hello}</>;
};
endsnippet

snippet rfc "React Functional Component"
export const ${1:Component}: FC${2:<{$3}>} = (${3:{}}) => {
    return <>${4:hello}</>;
};
endsnippet
